<%= f.fields_for :questions do |ff| %>
<p>
  <%= ff.label :question_text, "Question" %><br>
  <%= ff.text_area :question_text %>
  <%= ff.check_box :_destroy %>
  <%= ff.label :_destroy, "Remove Question" %>
</p>
<% end %>
