<p>
  <%= ff.label :question_text, "Question" %><br>
  <%= ff.radio_button :question_text, "yes" %>Yes
  <%= ff.radio_button :question_text, "no" %>No

  <%= ff.check_box :_destroy %>
  <%= ff.label :_destroy, "Remove Question" %>
</p>
