<%= form_for(@answer) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
        <% @answer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <div class= "Short Form">
    <%= render 'answers/short_form', :f=> f %>
  </div>

  <div class= "Long Form">
    <%= render 'answers/long_form', :f=> f %>
  </div>

  <div class= "Multiple Choice">
    <%= render 'answers/multiple_choice', {:f=> f, :question => question} %>
  </div>

  <div class= "Yes or No">
    <%= render 'answers/yes_no', :f=> f %>
  </div>

  <%= f.hidden_field :question_id, :value=> question.id%>


  <div class="actions">
  <%= f.submit %>
  </div>
</div>
<% end %>
