<p>
  <%= f.label :answer_text, "answer" %><br>
  <%= f.radio_button :answer_text, "yes" %>Yes
  <%= f.radio_button :answer_text, "no" %>No

  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Remove answer" %>
</p>
