<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, placeholder: "survey title"%>
  </div>
  <div class="field">
    <%= f.text_area :description, placeholder: "describe your survey" %>
  </div>
  <div class="field">
    <%= f.hidden_field :author_id, :value => session[:author_id] %>
  </div>

  <li class="question-container blueprint" hidden>

    <button class="delete-question">X delete</button>

    <button class="reorder-question">/\\/</button>

    <%= f.fields_for :questions do |ff| %>

    <p class="question-p">
      <%= ff.text_area :question_text, placeholder: "enter your question here", class: "question-literal"%>
      <%= ff.select :question_type, ["Question Type", "Multiple Choice",
         "Long Form", "Short Form", "Yes/No"], {}, {:class => "type-select"} %>
    </p>

  </li>

  <ul class="question-list"></ul>

  <button class="add-question-button">Add Question</button>

  <div hidden>
    <%= ff.fields_for :options do |fff| %>
    <%= fff.text_field :name, class: "mc-option root" %>
    <% end %>
  </div>

  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
