<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.hidden_field :author_id, :value => session[:author_id] %>
  </div>
  <%= f.fields_for :questions do |ff| %>
  <%= ff.label :question_type, "Question Type" %><br>
  <%= ff.select :question_type, options_for_select(["Multiple Choice", "Long Form", "Short Form", "Yes/No"]), :include_blank=> true%>

    <p>
      <%= ff.label :question_text, "question" %><br>
      <%= ff.text_area :question_text %>
      <%= ff.check_box :_destroy %>
      <%= ff.label :_destroy, "Remove question" %>
    </p>

  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
