<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.hidden_field :author_id, :value => session[:author_id] %>
  </div>

  <%= f.fields_for :questions do |ff| %>
  <p>
    <%= ff.label :question_text, "Question" %><br>
    <%= ff.text_area :question_text %>
    <%= ff.check_box :_destroy %>
    <%= ff.label :_destroy, "Remove Question" %>
  </p>
  <% end %>

  <%= f.fields_for :answers do |ff| %>
  <p>
    <%= ff.label :answer_text, "Answer" %><br>
    <%= ff.text_area :answer_text %>
    <%= ff.check_box :_destroy %>
    <%= ff.label :_destroy, "Remove Answer" %>
  </p>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
