<div class="heading-container">
  <span class="possum-logo small-logo">
    <%= image_tag 'possum-logo-khaki.jpg', width: '100' %>
  </span>
  <h1 class="heading-text shorter">SurveyPossum Form Builder</h1>
  <p class= "edit">Editing Survey</p>
  <span class="nav-button">  <%= link_to 'Take Survey', @survey %> </span>
  <span class="nav-button">   <%= link_to 'Back', surveys_path %> </span>
  <span class="nav-button">  <%= link_to "Delete", {:controller => :surveys,
    :action => 'destroy', :id => (params[:id]) }, :method => :delete %> </span>
  </div>

  <%= render 'form' %>

  <script>

  var selectArr = $('.type-select').toArray();

  selectArr.forEach(function (item) {
    if ($(item).val() === 'Multiple Choice') {
      $(item).next().toggle();
    }
  })
  </script>

  <script type="text/html" class="filler" hidden>
    <div class="filler-actual"></div>
  </script>
