<div class="heading-container">
  <span class="possum-logo small-logo">
    <%= image_tag 'possum-logo-khaki.jpg', width: '100' %>
  </span>
  <h1 class="heading-text shorter">SurveyPossum Form Builder</h1>
  <p class= "edit">Preview Survey</p>
  <span class="nav-button">  <%= link_to 'Show', @survey %> </span>
  <span class="nav-button">   <%= link_to 'Back', surveys_path %> </span>
  <span class="nav-button">  <%= link_to "Delete", {:controller => :surveys,
    :action => 'destroy', :id => (params[:id]) }, :method => :delete %> </span>
  </div>

  <<div class="survey-list low">

<<<<<<< HEAD
<p>

  <%= render 'submissions/form_for_answers', survey: @survey %>

</p>
=======
    <%= @survey= params[:survey] unless @survey %>
    <p class="title">
      <strong>Title:</strong>
      <%= @survey.title %>
    </p>

    <p class="title">
      <strong>Description:</strong>
      <%= @survey.description %>
    </p>
>>>>>>> styles2


    <pclass= "title">
      <% @survey.questions.each do |question| %>
      Question: <%= question.question_text %>
      <p class= "title">
        <%= render "answers/form", question: question %>
      <% end %>
      </p>
    </p>

    <p>
      <span class="nav-button shift"><%= link_to "Edit", edit_survey_path(@survey) %> </span>
      <span class="nav-button shift"><%= link_to "Destroy", @survey, :confirm => 'Are you sure?', :method => :delete %> </span>
      <span class="nav-button shift"><%= link_to "View All", surveys_path %></span>
    </p>
</div>
