<%= @survey= params[:survey] unless @survey %>
<p>
  <strong>Title:</strong>
  <%= @survey.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @survey.description %>
</p>

<%= form_for(@survey) do |f| %>
  <%= render 'submissions/form', :f=>f %>
  <div class="actions">
    <%= f.submit "Submit Answers" %>
  </div>

<% end %>

<p>
  <%= link_to "Edit", edit_survey_path(@survey) %> |
  <%= link_to "Destroy", @survey, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", surveys_path %>
</p>
