<div class="heading-container">
  <span class="possum-logo small-logo">
    <%= image_tag 'possum-logo-khaki.jpg', width: '100' %>
  </span>
  <h1 class="heading-text shorter">SurveyPossum Form Builder</h1>
  <p class= "edit">Preview Survey</p>
  <span class="nav-button">  <%= link_to 'Take Survey', @survey %> </span>
  <span class="nav-button">   <%= link_to 'Back', surveys_path %> </span>
  <span class="nav-button">  <%= link_to "Delete", {:controller => :surveys,
    :action => 'destroy', :id => (params[:id]) }, :method => :delete %> </span>
  </div>

  <<div class="survey-list low">


    <%= @survey= params[:survey] unless @survey %>
    <p class="title">
      <strong>Title:</strong>
      <%= @survey.title %>
    </p>

    <p class="title">
      <strong>Description:</strong>
      <%= @survey.description %>
    </p>

    <p>

      <%= render 'submissions/form_for_answers', survey: @survey %>

    </p>
