<!DOCTYPE html>
<html>
<head>
  <title>Surveyopossum</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300italic,400italic|Mouse+Memoirs' rel='stylesheet' type='text/css'>
  <!-- added mobile device width option on line below  -->
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<p id="notice"><%= notice %></p>

<body>
<!-- <%=link_to "Logout", logout_sessions_path  %> -->

<%= yield %>

</body>
</html>
